<!DOCTYPE HTML>
<html>
<head>
	<title>myCHI</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" type="text/css" href="/static/css/desktop.css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/javascript/third-party/cufon-yui.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/javascript/third-party/droid-sans.fonts.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
	   Cufon.replace('#logo', { fontFamily: 'Droid Sans Bold' });
	</script>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<div id="header">
	<div id="wrap">
		<span id="headlink-left">
			<a id="logo" href="/">myCHI</a>
		</span>
		<span id="headlink-right">
			Welcome,&nbsp;{{login_name}} &nbsp; &nbsp;
			<a class="button" id="nav_home">My Papers</a>
			<a class="button" id="nav_schedule">My Schedule</a>
			<a class="button" href="/desktop/logout">Log out</a>
		</span>
	</div>
</div>


<body>
<script type="text/javascript">


var entities = {{entities|safe }};
var sessions = {{sessions|safe }};
var recommended = {{recs|safe }};
var starred = {{starred|safe }};
var login_id = '{{login_id|safe}}'




function get_params() {
    var vars = [], hash;
    var hashes = window.location.href.slice(
            window.location.href.indexOf('?') + 1).split('&');
    for (var i = 0; i < hashes.length; i++) {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}


Object.size = function(obj) {
    var size = 0, key;
    for (key in obj) {
        if (obj.hasOwnProperty(key)) size++;
    }
    return size;
};

function search_rec(id){
	for(var r in recommended){
		if(recommended[r].id == id)
			return true
	}
	return false
}


function bind_events(){
	//do this in the end
    $('.default-text').val('');
    $('.default-text').blur();

    $('.collapsible').off('click')
    $('.collapsible').on('click',
	    function(event){
	    	event.stopPropagation();
	    	var target = $(this).attr("data")
	    	console.log(target)
	        $('#'+ target).toggle();
	        if($('#'+target).is(':visible')){
	            $(this).find('.arrow').html('▾');
	        }else{
	            $(this).find('.arrow').html('▸');
	        }
	    });

    $('.session-collapsible').off('click')
    $('.session-collapsible').on('click',
	    function(event){
	    	event.stopPropagation();

	    	var s = $(this).parents('div.session:first')

	        s.find('.paper-container').toggle();
	        if(s.find('.paper-container').is(':visible')){
	            s.find('.arrow').html('▾');
	        }else{
	            s.find('.arrow').html('▸');
	        }
	    });


  
	$(".default-text").focus(
		function(src) {
	    if ($(this).val() == $(this).attr("title")) {
	        $(this).removeClass("default-text-active");
	        $(this).val("");
	    }
	});

	
	$(".default-text").blur(
		function(target) {
	    if ($(this).val() == "") {
	        $(this).addClass("default-text-active");
	        $(this).val($(this).attr("title"));
	    }
	});

	$('.ui-state-default').hover(
	    function(){ $(this).addClass('ui-state-hover'); }, 
	    function(){ $(this).removeClass('ui-state-hover'); }
	);



	/*

	$('#search_papers').keyup(function(event){
		var str = $(this).val()
		//console.log(str)
		delay('search("'+str+'");', 100);
	});*/

	
}

var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
  };
})();

function search(str){
	$("#all_papers").dataTable().fnFilter(str);
	$("#likes").dataTable().fnFilter(str);
	$("#recs").dataTable().fnFilter(str);
}



function show_tab(tab, paper_id){
    console.log(tab)
    $(".tab").hide();
    $("#"+tab).show();
    if(tab == 'home'){
    	populate_likes(starred);
		populate_recs(recommended);
		populate_papers(entities);
    }else if(tab == 'schedule'){
    	populate_sessions(sessions);
    	setup_filters()
    }else if(tab == 'selected_paper'){
    	load_paper(paper_id)
    }

    bind_events()
    $(".default-text").blur()
        
}   



function get_paper_html(id){
    if(entities[id] == null)
        return ''
    var raw_html = '<tr class="clickable paper ' + id
    if(search_rec(id)){
    	raw_html += ' recommended'
    }
    if(starred[id] != null){
    	raw_html += ' highlight'
    }
    raw_html += '">'
    raw_html += '<td class="content">'    
    raw_html += '<ul>'
    raw_html += '<li class="blue"><a href="#" onclick="show_tab(\'selected_paper\', \'' + id + '\');"><h3>'+entities[id].title+'</h3></a></li>'
    raw_html += '<li>'+entities[id].c_and_b + '</li>'
    raw_html += '<li class="strong">'
    for(author in entities[id].authors){
        if(entities[id].authors[author] != null){
            raw_html += entities[id].authors[author].givenName + ' ' + entities[id].authors[author].familyName + '&nbsp;&nbsp;&nbsp;&nbsp;'
        }
    }
    raw_html += '</li>'
    raw_html += '<li class="gray">' + entities[id].keywords + '</li>'
    raw_html += '</ul>'
    raw_html += '</td>'
    raw_html += '<td class="metadata">'   
    if(starred[id] == null){
        raw_html += '<div class="ui-state-default ui-corner-all p_star" data="'+ id + '" onclick="handle_star(event);">'        
    }else{
        raw_html += '<div class="ui-state-default ui-corner-all ui-state-active p_star" data="'+ id + '" onclick="handle_star(event);">'        
    }  
    raw_html += '<span class="ui-icon ui-icon-star"></span>'
    raw_html += '</div>'
    
    raw_html += '</td>'
    raw_html += '</tr>'

    return raw_html
}



function get_session_html(id){
    var raw_html = '<div class="session ' + id + ' ' + sessions[id].date + ' t' + sessions[id].time.substr(0,2) + ' ' + sessions[id].venue + ' ' + sessions[id].personas.substr(0,2) + '" data="' + id + '">'
    raw_html += '<table class="session-container session-collapsible" data="' + id + '"><tr class="clickable">'
    raw_html += '<td class="content">'  
    raw_html += '<ul>'
    raw_html += '<li><h3><span class="arrow">▸</span> '+sessions[id].s_title+'</h3></li>'
    raw_html += '<li class="gray">Room: ' + sessions[id].room + ', Venue: ' + sessions[id].venue + '</li>'
    raw_html += '</ul>'

    
    raw_html += '<div class="timeline">'
    var size = Object.size(sessions[id].submissions)
    var w = 100/size
    for(var i=0; i< size; i++){
        raw_html += '<div style="width:' + w + '%;"></div>'
    }
    raw_html += '</div>'
    raw_html += '</td>'
    raw_html += '<td class="metadata">'     
   	raw_html += '<div class="ui-state-default ui-corner-all s_star" data="'+ id + '" onclick="handle_session_star(event);">'
    raw_html += '<span class="ui-icon ui-icon-star"></span>'
    raw_html += '</div>'        
    raw_html += '</td>'
    raw_html += '</tr>'
    raw_html += '</table>'
    raw_html += '<table id="' +id +'" class="paper-container" style="display:none; padding-left:20px;">'
    for(var paper_id in sessions[id].submissions){        
        raw_html += get_paper_html(paper_id);        
    }
    raw_html += '</table>'
    raw_html += '</div>'
    return raw_html
}



function get_selected_paper_html(id){
    if(entities[id] == null)
        return null

    var raw_html = '<h3>' + entities[id].title + '</h3><br />'
    raw_html += '<span class="strong">'
    for(var author in entities[id].authors){
        if(entities[id].authors[author] != null){
            raw_html += entities[id].authors[author].givenName + ' ' + entities[id].authors[author].familyName + '&nbsp;&nbsp;&nbsp;&nbsp;'
        }
    }
    raw_html += '</span>'
    raw_html += '<hr />'
    raw_html += '<ul>'
    raw_html += '<li>' + entities[id].abstract + '</li>'
    raw_html += '<li class="gray">' + entities[id].keywords + '</li>'
    raw_html += '</ul>'
    return raw_html
}


function place_session(s){
    if(s.hasClass('Monday')){
        if(s.hasClass('t09')){
            $("#Mondayt09").append(s)
        }else if(s.hasClass('t11')){
            $("#Mondayt11").append(s)
        }else if(s.hasClass('t14')){
            $("#Mondayt14").append(s)
        }else if(s.hasClass('t16')){
            $("#Mondayt16").append(s)
        }

    }else if(s.hasClass('Tuesday')){
        if(s.hasClass('t09')){
            $("#Tuesdayt09").append(s)
        }else if(s.hasClass('t11')){
            $("#Tuesdayt11").append(s)
        }else if(s.hasClass('t14')){
            $("#Tuesdayt14").append(s)
        }else if(s.hasClass('t16')){
            $("#Tuesdayt16").append(s)
        }

    }else if(s.hasClass('Wednesday')){
        if(s.hasClass('t09')){
            $("#Wednesdayt09").append(s)
        }else if(s.hasClass('t11')){
            $("#Wednesdayt11").append(s)
        }else if(s.hasClass('t14')){
            $("#Wednesdayt14").append(s)
        }else if(s.hasClass('t16')){
            $("#Wednesdayt16").append(s)
        }

    }else if(s.hasClass('Thursday')){
        if(s.hasClass('t09')){
            $("#Thursdayt09").append(s)
        }else if(s.hasClass('t11')){
            $("#Thursdayt11").append(s)
        }else if(s.hasClass('t14')){
            $("#Thursdayt14").append(s)
        }else if(s.hasClass('t16')){
            $("#Thursdayt16").append(s)
        }

    }
}


function update_session_view(){
	$('#session_likes').html('')
	$('#session_recs').html('')
	$( ".session" ).each(function(s_index) {
		var session = $(this)
		$(this).find('.paper-container').find('.ui-state-default').each(function(p_index){
			if($(this).hasClass('ui-state-active')){
				session.find('.timeline').children("div").eq(p_index).addClass("filled_yellow");
			}else{
				session.find('.timeline').children("div").eq(p_index).removeClass("filled_yellow");
			}				

		});

		$(this).find('.paper-container tr').each(function(p_index){
			if($(this).hasClass('recommended')){
				session.find('.timeline').children("div").eq(p_index).addClass("filled_blue");
			}else{
				session.find('.timeline').children("div").eq(p_index).removeClass("filled_blue");
			}				

		});

		var id = session.attr("data")
		var rec = false
		var like = false
		
	   	if($(this).find('.paper-container').find('.recommended').length > 0){
			$(this).find('.session-container').find('tr').addClass('recommended')
			rec = true
	   	}else{
	     	$(this).find('.session-container').find('tr').removeClass('recommended')
	   	}
	   	
	   	if($(this).find('.paper-container').find('.ui-state-active').length > 0){
			$(this).find('.session-container').find('.ui-state-default').addClass('ui-state-active')
			$(this).find('.session-container').find('tr').addClass('highlight')
			like = true
	   	}else{
	     	$(this).find('.session-container').find('.ui-state-default').removeClass('ui-state-active')
	     	$(this).find('.session-container').find('tr').removeClass('highlight')
	   	}
	   	/*
	   	if(like || rec){
	   		session.clone().attr("id",'recs'+id).appendTo('#session_recs')
	   	}
		*/
	});
	bind_events() 
    $('#session_recs_toggle').show()

}


function update_recs(){
	$('.paper').removeClass('recommended')
	for(var r in recommended){
		$('.'+recommended[r].id).addClass('recommended')
	}

}


function handle_session_star(event){
    event.stopPropagation();
    var obj = $(event.target).parents("td:first").find('.s_star')
    var session_id = obj.attr("data")
    var papers = sessions[session_id]['submissions']
    if(obj.hasClass('ui-state-active')){
        $.post('/like/unstar', {'papers': JSON.stringify(papers)}, function(res) {
            for(var paper_id in papers){
                delete starred[paper_id]
            }
            populate_likes(starred)
            recommended = res.recs
            populate_recs(recommended)
            $('.'+obj.attr('data')).each(function(){
                $(this).find('.p_star').removeClass('ui-state-active')
                $(this).removeClass('highlight')
                $(this).find('.paper').removeClass('highlight')
            })
            update_recs()
            update_session_view()
        });
    }else{
        $.post('/like/star', {'papers': JSON.stringify(papers)}, function(res) {
            for(var paper_id in papers){
                starred[paper_id] = true
            }
            populate_likes(starred)
            recommended = res.recs
            populate_recs(recommended)
            $('.'+obj.attr('data')).each(function(){
                $(this).find('.p_star').addClass('ui-state-active')
                $(this).find('.paper').addClass('highlight')
            })
            update_recs()
            update_session_view()
        });
    }
    


}



function handle_star(event){ 
    var obj = $(event.target).parents("td:first").find('.p_star')
    var paper_id = obj.attr("data")
    console.log(paper_id)
    if(obj.hasClass('ui-state-active')){
        $.post('/like/unstar', {'papers': JSON.stringify([paper_id])}, function(res) {
          if(res.res[paper_id] == 'unstar'){
            delete starred[paper_id]
            populate_likes(starred)
            recommended = res.recs
            populate_recs(recommended)
            $('.'+obj.attr('data')).each(function(){
                $(this).find('.p_star').removeClass('ui-state-active')
                $(this).removeClass('highlight')
            })
            update_recs()
            update_session_view()
          }
        });
    }else{
        $.post('/like/star', {'papers': JSON.stringify([paper_id])}, function(res) {
          if(res.res[paper_id] == 'star'){
            starred[paper_id] = true
            populate_likes(starred)
            recommended = res.recs
            populate_recs(recommended)
            $('.'+obj.attr('data')).each(function(){
                $(this).find('.p_star').addClass('ui-state-active')
                $(this).addClass('highlight')
            })
            update_recs()
            update_session_view()
            
          }
        });



    }
}



function load_paper(paper_id){
    var selected_paper_html = get_selected_paper_html(paper_id)
    $('#selected_paper').find('.form').html(selected_paper_html)
    $('#similar_papers').html('')
    $.post('recs', {'papers': JSON.stringify([paper_id])}, 
    function(res){              
        for(var i = 0; i< res.length; i++){
            var p_id = res[i].id
            var raw_html = get_paper_html(res[i].id)
            if(raw_html!=null){
               var row = $(raw_html)
               $('#similar_papers').append(row)
            }
        }
    
     $('#similar_papers').dataTable({
		"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
		"bPaginate": false,
		"bFilter": true,
		"bDestroy": true,
		"bInfo": true,
		"sWidth": "100%",
		"oLanguage": {
	      "sZeroRecords": "Not enough data to recommend papers similar to this."
	    },
		"aoColumns": [                 
			{},
			{}
		]

	});  
    });

} 

function populate_papers(_entities){ 
    $("#all_papers").html("")        
    for(var e in _entities){
        var raw_html = get_paper_html(e)
        if(raw_html != null){
            var row = $(raw_html)
            $("#all_papers").append(row)
        }
    }
    
    $('#all_papers').dataTable({
		"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
		"bPaginate": true,
		"bFilter": true,
		"bDestroy": true,
        "bInfo": true,
		"sWidth": "100%",
		"aLengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
		"iDisplayLength": 10,
		"oLanguage": {
	      "sZeroRecords": "Seems like something went wrong. No data to display."
	    },
		"aoColumns": [                 
			{},
			{}
		]

	});

    bind_events()   
}


function populate_recs(_recs){ 
    $("#recs").html("")     
    for(var r in _recs){
        var raw_html = get_paper_html(recommended[r].id)
        if(raw_html != null){
            var row = $(raw_html)
            $("#recs").append(row)
        }
    }
   
    $('#recs').dataTable({
		"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
		"bPaginate": true,
		"bDestroy": true,
		"bFilter": true,
		"bInfo": true,
		"sWidth": "100%",
        "aLengthMenu": [[5, 10, 20], [5, 10, 20]],
        "iDisplayLength": 5,
		"oLanguage": {
	      "sZeroRecords": "Since you haven't starred any paper yet, we can't generate recommendations for you."
	    },
		"aoColumns": [                 
			{},
			{}
		]

	});  
    bind_events() 
}



function populate_likes(_likes){  
    $("#likes").html("")     
    for(var l in _likes){
        var raw_html = get_paper_html(l)
        if(raw_html != null){
            var row = $(raw_html)
            $("#likes").append(row)
        }
    }


    $('#likes').dataTable({
		"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
		"bPaginate": true,
		"bInfo": true,
		"bDestroy": true,
		"bFilter": true,
		"sWidth": "100%",
		"aLengthMenu": [[-1, 2], ["All", "Few"]],
        "iDisplayLength": 2,
		"oLanguage": {
	      "sZeroRecords": "You haven't starred anything yet. Nothing to show."
	    },
		"aoColumns": [                 
			{},
			{}
		]

	});
    bind_events()   
}


function populate_sessions(_sessions){
    $(".session-timeslot").html("") 
    for(var s in _sessions){
        var raw_html = get_session_html(s)
        var row = $(raw_html)
        place_session(row)
    }
    bind_events()
    update_session_view()
}







function setup_filters(){
	$('input:checkbox').die()
    $('input:checkbox').live('change', function(){
        $('#session_recs_toggle').show()
        var days_checked = $("input:checked.day")
        var times_checked = $("input:checked.time")
        var venues_checked = $("input:checked.venue")
        var personas_checked = $("input:checked.persona")
        var star = $("input:checked.fav")
        var day_classes = ''
        for(var i=0; i< days_checked.length; i++){
            var c = days_checked[i].title               
            day_classes  += '.'+c + ','     
        }
        day_classes = day_classes.substr(0, day_classes.length-1)
        console.log(day_classes)
        time_classes=''
        for(var i=0; i< times_checked.length; i++){
            var c = times_checked[i].title
            time_classes += '.'+c + ',';
        }

        time_classes = time_classes.substr(0, time_classes.length-1)
        console.log(time_classes)
        personas_classes = '';
        for(var i=0; i< personas_checked.length; i++){
            var c = personas_checked[i].title
            personas_classes +=  '.' + c + ',';
        }

        personas_classes = personas_classes.substr(0, personas_classes.length-1)
        console.log(personas_classes)
        venues_classes = ''
        for(var i=0; i< venues_checked.length; i++){
            var c = venues_checked[i].title
            venues_classes += '.' + c + ',';
        }

        venues_classes = venues_classes.substr(0, venues_classes.length-1)
        console.log(venues_classes)


        var select_class = $('.session')
        if(day_classes != ''){
            select_class = select_class.filter(day_classes)
        }
        
        if(time_classes!=''){               
            select_class = select_class.filter(time_classes)                
        }

        if(personas_classes!=''){               
            select_class = select_class.filter(personas_classes)                
        }

        if(venues_classes!=''){             
            select_class = select_class.filter(venues_classes)              
        }
       $('.session').hide();
       $('.session-timeslot').each(function(){
       		$(this).prev().hide()
       	});

       select_class.show();
       select_class.each(function(){
       		$(this).parent().prev().show()
       	});
        
    });
}





$(document).ready(function(){

    // Handle tabs
    var tab = get_params('tab')
    var id = get_params('id')
    if(tab==null || (['home','schedule','selected_paper'].indexOf(tab) == -1)){
        tab='home';
    }       

    $('#nav_home').click(function(){show_tab('home');})
    $('#nav_schedule').click(function(){show_tab('schedule');})

    show_tab(tab, id);

    
});

</script>







<div id="page">
<div id="content">

<!--- Home Page -->
<div id="home" class="tab">
	
	<!--

	<input type="text" id="search_papers" class="default-text search" title="Enter paper titles, authors, or keywords"></input>
		
	-->
	
	<h3 class="collapsible-title collapsible" id="likes_toggle" data="likes_container"><span class="arrow">▾</span> Starred Papers</h3>	
	<div id="likes_container">
		<table id="likes" class="paper-container">		
		</table>
	</div>
<br />
<br />

	<h3 class="collapsible-title collapsible" id="recs_toggle" data="recs_container"><span class="arrow">▾</span> Papers recommended for you</h3>
	<div id="recs_container">
		<table id="recs" class="paper-container">	
		</table>
	</div>

<br />
<br />

	<h3 class="collapsible-title collapsible" id="papers_toggle" data="all_papers_container"><span class="arrow">▾</span> All Papers</h3>
	<div id="all_papers_container">
		<table id="all_papers" class="paper-container">	
		</table>
	</div>
</div>





<!--  Schedule -->
<div id="schedule" class="tab">	
<div class="col1">
<h3><span class="gray">CHI 2013 Program</span></h3>
<br />
<div id="program">

	<!--
	<h3 class="collapsible-title collapsible" id="session_recs_toggle" data="session_recs"><span class="arrow">▾</span> Sessions recommended for you</h3>
	
	<div id="session_recs" class="session-timeslot">	
	</div>
	-->

	<br />
	<br />

	<div id = "Monday">
	<!--
	<h3 class="collapsible-title" data="Mondayt09"><span class="arrow">▾</span> Monday, 09:00-10:20</h3> -->
	<div id = "Mondayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Mondayt11"><span class="arrow">▾</span> Monday, 11:00-12:20</h3>
	<div id = "Mondayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Mondayt14"><span class="arrow">▾</span> Monday, 14:00-15:20</h3>
	<div id = "Mondayt14" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Mondayt16"><span class="arrow">▾</span> Monday, 16:00-17:20</h3>
	<div id = "Mondayt16" class="session-timeslot">
	</div>
	</div>


	<div id="Tuesday">
	<h3 class="collapsible-title collapsible" data="Tuesdayt09"><span class="arrow">▾</span> Tuesday, 09:00-10:20</h3>
	<div id = "Tuesdayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Tuesdayt11"><span class="arrow">▾</span> Tuesday, 11:00-12:20</h3>
	<div id = "Tuesdayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Tuesdayt14"><span class="arrow">▾</span> Tuesday, 14:00-15:20</h3>
	<div id = "Tuesdayt14" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Tuesdayt16"><span class="arrow">▾</span> Tuesday, 16:00-17:20</h3>
	<div id = "Tuesdayt16" class="session-timeslot">
	</div>
	</div>


	<div id = "Wednesday">
	<h3 class="collapsible-title collapsible" data="Wednesdayt09"><span class="arrow">▾</span> Wednesday, 09:00-10:20</h3>
	<div id = "Wednesdayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Wednesdayt11"><span class="arrow">▾</span> Wednesday, 11:00-12:20</h3>
	<div id = "Wednesdayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Wednesdayt14"><span class="arrow">▾</span> Wednesday, 14:00-15:20</h3>
	<div id = "Wednesdayt14" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Wednesdayt16"><span class="arrow">▾</span> Wednesday, 16:00-17:20</h3>
	<div id = "Wednesdayt16" class="session-timeslot">
	
	</div>  
	</div>	



	<div id = "Thursday">
<!-- h3 class="collapsible-title collapsible" data="Thursdayt09"><span class="arrow">▾</span> Thursday, 09:00-10:20</h3> -->
	<div id = "Thursdayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Thursdayt11"><span class="arrow">▾</span> Thursday, 11:00-12:20</h3>
	<div id = "Thursdayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Thursdayt14"><span class="arrow">▾</span> Thursday, 14:00-15:20</h3>
	<div id = "Thursdayt14" class="session-timeslot">
	</div>
	<!--
	<h3 class="collapsible-title collapsible" data="Thursdayt16"><span class="arrow">▾</span> Thursday, 16:00-17:20</h3>-->
	<div id = "Thursdayt16" class="session-timeslot">
	</div>
	</div>

</div> <!-- col1 -->
</div> <!-- program -->

<div class="col2">
<h3><span class="gray">Filter Options</span></h3>
<br />
<h4>Venue</h4>	
<div id ="venue_filter">				
	<input type="checkbox" title="course" class="venue"/> <span class="gray">Course</span><br />	
	<input type="checkbox" title="panel" class="venue"/> <span class="gray">Panel</span><br />		
	<input type="checkbox" title="SIG" class="venue"/> <span class="gray">SIG</span><br />	
	<input type="checkbox" title="altchi" class="venue"/> <span class="gray">Alt CHI</span><br />	

	<input type="checkbox" title="casestudy" class="venue"/> <span class="gray">Case Study</span><br />
	<input type="checkbox" title="paper" class="venue"/> <span class="gray">Paper</span><br />
	<input type="checkbox" title="special" class="venue"/> <span class="gray">Special</span><br />		
	<input type="checkbox" title="bof" class="venue"/> <span class="gray">BOF</span><br />
</div>

<h4>Day</h4>
<div id ="day_filter">		
	<input type="checkbox" title="Monday" class="day" /> <span class="gray">Monday</span><br />		
	<input type="checkbox" title="Tuesday" class="day"/> <span class="gray">Tuesday</span><br />		
	<input type="checkbox" title="Wednesday" class="day"/> <span class="gray">Wednesday</span><br />	
	<input type="checkbox" title="Thursday" class="day"/> <span class="gray">Thursday</span><br />
</div>

<h4>Time</h4>
<div id ="time_filter">
	<input type="checkbox" title="t09" class="time"/> <span class="gray">09:00-10:20</span><br />		
	<input type="checkbox" title="t11" class="time"/> <span class="gray">11:00-12:20</span><br />	
	<input type="checkbox" title="t14" class="time"/> <span class="gray">14:00-15:20</span><br />		
	<input type="checkbox" title="t16" class="time"/> <span class="gray">16:00-17:20</span><br />
</div>


<h4>Persona</h4>
<div id ="persona_filter">
	<input type="checkbox" title="On" class="persona"/> <span class="gray">Online social communities &amp; crowdsourcing</span><br />
	<input type="checkbox" title="De" class="persona"/> <span class="gray">Design</span><br />			
	<input type="checkbox" title="UI" class="persona"/> <span class="gray">UIST</span><br />		
	<input type="checkbox" title="Vi" class="persona"/> <span class="gray">Visualization</span><br />
		
	<input type="checkbox" title="En" class="persona"/> <span class="gray">Engagement</span><br />	
	<input type="checkbox" title="IO" class="persona"/> <span class="gray">IO</span><br />	
	<input type="checkbox" title="fo" class="persona"/> <span class="gray">For a cause</span><br />	
	<input type="checkbox" title="Mi" class="persona"/> <span class="gray">Misc</span><br />	

	<input type="checkbox" title="Se" class="persona"/> <span class="gray">Security and privacy</span><br />	
	<input type="checkbox" title="Et" class="persona"/> <span class="gray">Ethics</span><br />		
	<input type="checkbox" title="Ki" class="persona"/> <span class="gray">Kids and learning </span><br />	
	<input type="checkbox" title="He" class="persona"/> <span class="gray">Health</span><br />	
</div>
</div>  <!-- col2 -->

</div> <!-- schedule -->




<!-- Selected Paper -->
<div id="selected_paper" class="tab">
	<h3><span class="gray">Selected Paper</span></h3>
	<div class="form" style="margin-top:10px;">
	</div>
	<br />
	<h3 class="collapsible-title collapsible" id="similar_papers_toggle" data="similar_papers_container" value=""><span class="arrow">▾</span> People who liked this paper also liked the following papers.</h3>
	<div id="similar_papers_container">
	<table id="similar_papers" class="paper-container">		
	</table>
	</div>

</div>  <!-- selected paper -->


</div> <!-- content -->
</div> <!-- page -->
</body>
</html>
