<!DOCTYPE HTML>

<!--

<html manifest="/static/cache.manifest">

-->
<html>
<head>
	<title>myCHI</title>
	<meta charset="utf-8">
    
	<meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="initial-scale=1.0 user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="stylesheet" type="text/css" href="/static/css/desktop.css" />
	<link href="/static/css/third-party/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
	<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div id="header">
	<div id="wrap">
		<span id="headlink-left">
			<a id="logo" href="/">myCHI</a>
		</span>
		<span id="headlink-right">
			{{login_name}} &nbsp;
      <a class="button mobile-nav" href="#">Menu</a>
			<a class="button active navitem" href="/home">My Papers</a>
			<a class="button navitem" href="/schedule">My Schedule</a>
			<a class="button navitem" href="/logout">Log out</a>
		</span>
	</div>
</div>


<body>
<div id="page">
<div id="content">

<!--- Home Page -->
<div id="home">
	
  <h3 class="collapsible-title collapsible" id="likes_toggle" data="likes_container"><span class="arrow arrow-down"></span> Papers you want to see <span class="count"></span></h3>	
	<div id="likes_container">
		<table id="likes" class="paper-container">		
		</table>
        <br />
        <a class="button" id="show_likes">Show All</a> 
	</div>
<br />
<br />

<h3 class="collapsible-title collapsible" id="recs_toggle" data="recs_container"><span class="arrow arrow-down"></span><span>Papers recommended for you</span> <span class="count"></span><span class="button" id="refresh_recommendations">Refresh</span></h3>
	<div id="recs_container">
		<table id="recs" class="paper-container">	
		</table>
        <br />
        <a class="button" id="show_recs" style="margin-right:10px;">Show More</a>
	</div>

<br />
<br />

	<h3 class="collapsible-title collapsible" id="papers_toggle" data="all_papers_container"><span class="arrow arrow-down"></span> All Papers <span class="count"></span></h3>
	<div id="all_papers_container">
    <div class="search-container" style="vertial-align:middle;">
      <!--<label style="vertical-align:middle;">Search:</label>&nbsp;&nbsp;-->
      <input type="text" id="search_papers" title="Enter paper titles, authors, or keywords"></input>&nbsp;&nbsp;
      <span class="button" id="search_papers_btn">Search</span>
    </div>
		<table id="all_papers" class="paper-container">	
		</table>
        <br />
        <a class="button" id="show_papers" style="margin-right:10px;">Show More</a>
	</div>
</div>

<br />
<br />
</div> <!-- content -->
</div> <!-- page -->


<!---  Mod  -->
<div class="modal">
    <div class="message">loading...</div>
</div>
<div class="alert">
    <div class="message"></div>
</div>
<!--
<div id="back-top">
  <a href="#" class="button">Back to top</a>
</div>
-->

<!-- Javascript -->
<script type="text/javascript">
    $(document).ready(function(){
    	enable_loading('loading...')
      	populate_likes()
      	populate_recs()
      	populate_papers()
      	bind_events()
      	disable_loading()
    });

</script>
<script type="text/javascript" src="/static/javascript/desktop.js"></script>
</body>
</html>
