<!DOCTYPE HTML>

<html manifest="/manifest">
<head>
	<title>myCHI</title>
	<meta charset="utf-8">
    
	<meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="stylesheet" type="text/css" href="/static/css/desktop.css" />
	<link href="/static/css/third-party/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/javascript/third-party/jquery-ui.js"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<div id="header">
    <div id="wrap">
        <span id="headlink-left">
            <a id="logo" href="/">myCHI</a>
        </span>
        <span id="headlink-right">
            {{login_name}} &nbsp;
            <a class="button" href="/home">My Papers</a>
            <a class="button active" href="/schedule">My Schedule</a>
            <a class="button" href="/logout">Log out</a>
        </span>
    </div>
</div>


<body>
<div id="page">
<div id="content">

<!--  Schedule -->
<div id="schedule">	
<div id="filter_schedule">
<table>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Papers</h4>
</td>
<td>

<div id ="p_filter" style="display:inline-block">  

    <a href="#" title="all" class="p_session filter active" type="p_session"/>All</a>
    <a href="#" title="s_starred" class="p_session filter" type="p_session"/>Liked</a> 
    <a href="#" title="s_recommended" class="p_session filter" type="p_session"/>Liked + Recommended</a>   
    <a href="#" title="s_awardhm" class="p_session filter" type="p_session"/>Awards</a>    
</div>
</td>
</tr>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Venue</h4>  
</td>
<td>
<div id ="venue_filter" style="display:inline-block">

    <a href="#" title="all" class="venue filter active" type="venue"/>All</a>
    <a href="#" title="paper" class="venue filter" type="venue"/>Paper</a>
    <a href="#" title="casestudy" class="venue filter" type="venue"/>Case Study</a>
    <a href="#" title="altchi" class="venue filter" type="venue"/>alt.chi</a>
    <a href="#" title="course" class="venue filter" type="venue"/>Course </a>
    <a href="#" title="panel" class="venue filter" type="venue"/>Panel </a>      
    <a href="#" title="SIG" class="venue filter" type="venue"/>SIG</a>  
    <a href="#" title="bof" class="venue filter" type="venue"/>BOF</a>
    <a href="#" title="special" class="venue filter" type="venue"/>Special</a>   
</div>
</td>
</tr>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Day</h4>
</td>
<td>

<div id ="day_filter" style="display:inline-block">  

    <a href="#" title="all" class="day filter active" type="day"/>All</a>
    <a href="#" title="Monday" class="day filter" type="day"/>Monday</a>    
    <a href="#" title="Tuesday" class="day filter" type="day"/>Tuesday</a>      
    <a href="#" title="Wednesday" class="day filter" type="day"/>Wednesday</a>  
    <a href="#" title="Thursday" class="day filter" type="day"/>Thursday</a>
</div>
</td>
</tr>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Time</h4>
</td>
<td>
<div id ="time_filter" style="display:inline-block">
    
    <a href="#" title="all" class="time filter active" type="time"/>All</a> 
    <a href="#" title="t09" class="time filter" type="time"/>09:00-10:20</a>   
    <a href="#" title="t11" class="time filter" type="time"/>11:00-12:20</a>     
    <a href="#" title="t14" class="time filter" type="time"/>14:00-15:20</a>          
    <a href="#" title="t16" class="time filter" type="time"/>16:00-17:20</a>   
</div>
</td>
</tr>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Community</h4>
</td>
<td>
<div id ="communities_filter" style="display:inline-block">
    <a href="#" title="all" class="community filter active" type="community"/>All</a> 
    <a href="#" title="ux" class="community filter" type="community"/>UX</a>   
    <a href="#" title="design" class="community filter" type="community"/>Design</a>     
    <a href="#" title="engineering" class="community filter" type="community"/>Engineering</a>          
    <a href="#" title="hci4d" class="community filter" type="community"/>HCI4D</a>  
    <a href="#" title="management" class="community filter" type="community"/>Management</a> 
    <a href="#" title="sustainability" class="community filter" type="community"/>Sustainability</a> 
    <a href="#" title="cci" class="community filter" type="community"/>CCI</a>  
    <a href="#" title="games" class="community filter" type="community"/>Games</a> 
    <a href="#" title="arts" class="community filter" type="community"/>Arts</a>  
    <a href="#" title="health" class="community filter" type="community"/>Health</a> 
</div>
</td>
</tr>
<tr>
<tr>
<td style="vertical-align:top">
<h4 style="display:inline-block">Persona</h4>
</td>
<td>
<div id ="persona_filter" style="display:inline-block">

    <a href="#" title="all" class="persona filter active" type="persona"/>All</a> 
    <a href="#" title="De" class="persona filter" type="persona"/>Design</a>          
    <a href="#" title="UI" class="persona filter" type="persona"/>UIST</a>        
    <a href="#" title="Vi" class="persona filter" type="persona"/>Visualization</a>        
    <a href="#" title="En" class="persona filter" type="persona"/>Engagement</a>

    <a href="#" title="IO" class="persona filter" type="persona"/>IO</a>
    <a href="#" title="Et" class="persona filter" type="persona"/>Ethics</a>
    <a href="#" title="fo" class="persona filter" type="persona"/>For a cause</a> 
    <a href="#" title="Mi" class="persona filter" type="persona"/>Misc</a>   

    <a href="#" title="Se" class="persona filter" type="persona"/>Security and privacy</a>
    <a href="#" title="Ki" class="persona filter" type="persona"/>Kids and learning </a>  
    <a href="#" title="He" class="persona filter" type="persona"/>Health</a> 
    <a href="#" title="On" class="persona filter" type="persona"/>Online social communities &amp; crowdsourcing</a>   
    
</div>
</td>
</tr>
</table>
</div>
<br />
<br />
<div class="dataTables_filter" style="vertial-align:middle;"><label style="vertical-align:middle;">Search:</label>&nbsp;&nbsp;<input type="text" id="search_session" title="Enter session titles, rooms, or keywords" style="height:15px; margin:0px !important; display:inline-block;"></input></div>



<div id="program">	
	<div id = "Monday">
	<h3 class="collapsible-title" data="Mondayt09"><span class="arrow arrow-down"></span> Monday, 09:00-10:20</h3>
	<div id = "Mondayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Mondayt11"><span class="arrow arrow-down"></span> Monday, 11:00-12:20</h3>
	<div id = "Mondayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Mondayt14"><span class="arrow arrow-down"></span> Monday, 14:00-15:20</h3>
	<div id = "Mondayt14" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Mondayt16"><span class="arrow arrow-down"></span> Monday, 16:00-17:20</h3>
	<div id = "Mondayt16" class="session-timeslot">
	</div>
	</div>


	<div id="Tuesday">
	<h3 class="collapsible-title collapsible" data="Tuesdayt09"><span class="arrow arrow-down"></span> Tuesday, 09:00-10:20</h3>
	<div id = "Tuesdayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Tuesdayt11"><span class="arrow arrow-down"></span> Tuesday, 11:00-12:20</h3>
	<div id = "Tuesdayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Tuesdayt14"><span class="arrow arrow-down"></span> Tuesday, 14:00-15:20</h3>
	<div id = "Tuesdayt14" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Tuesdayt16"><span class="arrow arrow-down"></span> Tuesday, 16:00-17:20</h3>
	<div id = "Tuesdayt16" class="session-timeslot">
	</div>
	</div>


	<div id = "Wednesday">
	<h3 class="collapsible-title collapsible" data="Wednesdayt09"><span class="arrow arrow-down"></span> Wednesday, 09:00-10:20</h3>
	<div id = "Wednesdayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Wednesdayt11"><span class="arrow arrow-down"></span> Wednesday, 11:00-12:20</h3>
	<div id = "Wednesdayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Wednesdayt14"><span class="arrow arrow-down"></span> Wednesday, 14:00-15:20</h3>
	<div id = "Wednesdayt14" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Wednesdayt16"><span class="arrow arrow-down"></span> Wednesday, 16:00-17:20</h3>
	<div id = "Wednesdayt16" class="session-timeslot">
	
	</div>  
	</div>	



	<div id = "Thursday">
    <h3 class="collapsible-title collapsible" data="Thursdayt09"><span class="arrow"></span> Thursday, 09:00-10:20</h3>
	<div id = "Thursdayt09" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Thursdayt11"><span class="arrow arrow-down"></span> Thursday, 11:00-12:20</h3>
	<div id = "Thursdayt11" class="session-timeslot">
	</div>
	<h3 class="collapsible-title collapsible" data="Thursdayt14"><span class="arrow arrow-down"></span> Thursday, 14:00-15:20</h3>
	<div id = "Thursdayt14" class="session-timeslot">
	</div>

	<h3 class="collapsible-title collapsible" data="Thursdayt16"><span class="arrow arrow-down"></span> Thursday, 16:00-17:20</h3>
	<div id = "Thursdayt16" class="session-timeslot">
	</div>
	</div>

</div> <!-- program -->

</div> <!-- schedule -->

</div> <!-- content -->
</div> <!-- page -->

<!-- Modal Dialogs -->

<div class="modal">
    <div class="message">loading...</div>
</div>
<div class="alert">
    <div class="message"></div>
</div>


<!-- Javascript -->
<script type="text/javascript">

    $(document).ready(function(){
        enable_loading('loading...')
        populate_sessions()
        setup_filters()
        bind_events()
        disable_loading()
    });
</script>
<script type="text/javascript" src="/static/javascript/desktop.js"></script>
</body>
</html>
