{% extends "base.html" %}
{% block headlink-right %}
Welcome,&nbsp;{{login}}! &nbsp; &nbsp;
<a class="button" href="/index">My CHI</a>
<a class="button" href="/schedule">My Schedule</a>
<a class="button" href="/logout">Log out!</a>
{% endblock %}


{% block content %}
<script type="text/javascript">

	function load_paper (paper_id) {
		window.location.href = "/paper/" + paper_id;
	}

	

	$(document).ready(function(){

		

		var likes = $('#likes').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": true,
			"bInfo": false,
			"bFilter": false,
			"sWidth": "100%",
			"aLengthMenu": [[2, -1], ["Few", "All"]],
			"iDisplayLength": 2,
			"oLanguage": {
		      "sZeroRecords": "You haven't starred anything yet. Nothing to show."
		    },
			"aoColumns": [                 
				{},
				{}
			]
			
		});


		var recs = $('#recs').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": true,
			"bFilter": true,
			"bInfo": false,
			"sWidth": "100%",
			"iDisplayLength": 5,
			"oLanguage": {
		      "sZeroRecords": "Since you haven't starred any paper yet, we can't generate recommendations for you."
		    },
			"aoColumns": [                 
				{},
				{}
			]
			
		});


		var papers = $('#papers').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": true,
			"bFilter": true,
			"sWidth": "100%",
			"aLengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
			"iDisplayLength": -1,
			"oLanguage": {
		      "sZeroRecords": "Seems like something went wrong. No data to display."
		    },
			"aoColumns": [                 
				{},
				{}
			]
			
		});


		$("#likes_toggle").click(function(){
    		$("#likes_container").toggle();
    		if($('#likes_container').is(':visible')){
					$("#likes_toggle").find('.arrow').html('▾');
			}else{
					$("#likes_toggle").find('.arrow').html('▸');
			}
  		});


  		$("#recs_toggle").click(function(){
    		$("#recs_container").toggle();
    		if($('#recs_container').is(':visible')){
				$("#recs_toggle").find('.arrow').html('▾');
			}else{
				$("#recs_toggle").find('.arrow').html('▸');
			}
  		});


  		$("#papers_toggle").click(function(){
    		$("#papers_container").toggle();
    		if($('#papers_container').is(':visible')){
					$("#papers_toggle").find('.arrow').html('▾');
			}else{
					$("#papers_toggle").find('.arrow').html('▸');
			}
  		});


  		$("#recs_show_toggle").click(function(){
    		if($("#recs").dataTable().fnSettings()._iDisplayLength < $("#recs").dataTable().fnSettings().fnRecordsTotal()){
					$("#recs").dataTable().fnSettings()._iDisplayLength = $("#recs").dataTable().fnSettings()._iDisplayLength + 5;
					if($("#recs").dataTable().fnSettings()._iDisplayLength >= $("#recs").dataTable().fnSettings().fnRecordsTotal())
					$("#recs_show_toggle").hide();
			}
			$("#recs").dataTable().fnDraw(false);
  		});


  		$("#likes_show_toggle").click(function(){
    		if($("#likes").dataTable().fnSettings()._iDisplayLength == -1){
					$("#likes").dataTable().fnSettings()._iDisplayLength = 2;
					$("#likes_show_toggle").html('Show All')
			}else{
					$("#likes").dataTable().fnSettings()._iDisplayLength = -1;
					$("#likes_show_toggle").html('Show Less')
			}
			$("#likes").dataTable().fnDraw(false);
  		});


  		$('.ui-state-default').hover(
			function(){ $(this).addClass('ui-state-hover'); }, 
			function(){ $(this).removeClass('ui-state-hover'); }
		);


		$('.ui-state-default').click(function(event){ 
			if($(this).hasClass('ui-state-active')){
				$.get('/like/' + $(this).attr('title') +'/unlike', function(res) {
				  if(res.status == 'ok'){
				  	$(this).toggleClass('ui-state-active');
				  	window.location='/'
				  }
				});
			}else{
				$.get('/like/' + $(this).attr('title') +'/like', function(res) {
				  if(res.status == 'ok'){
				  	$(this).toggleClass('ui-state-active');
				  	window.location='/'
				  }
				});

			}
		});


		function highlight_starred(){		   
	   		$( ".clickable" ).each(function(index) {
				if($(this).find('.ui-state-active').length > 0){
					$(this).addClass('starred');
				}
			});
		   
		}

		if($("#likes").dataTable().fnSettings().fnRecordsTotal() <= 2){
			$('#likes_show_toggle').hide();
		}

		if($("#recs").dataTable().fnSettings().fnRecordsTotal() <= 2){
			$('#recs_show_toggle').hide();
		}

		$(".default-text").focus(function(src)
		{
		    if ($(this).val() == $(this).title)
		    {
		        $(this).removeClass("default-text-active");
		        $(this).val("");
		    }
		});
	    
		$(".default-text").blur(function(target)
		{
		    if ($(this).val() == "")
		    {
		        $(this).addClass("default-text-active");
		        $(this).val($(this).title);
		    }
		});

		

		$('.dataTables_filter').find('input[type=text]').attr('title', 'author name, paper keywords, persona, etc...')
		$('.dataTables_filter').find('input[type=text]').addClass('default-text')
		$('.default-text').val('');
		$('.default-text').blur();

		//highlight_starred();


	});
</script>

<div id="content">
<h3 class="collapsible-title" id="likes_toggle"><span class="arrow">▾</span> Papers you liked.</h3>	
<div id="likes_container">
<table id="likes" class="paper-container">
{% for like in likes %}
	<tr class="clickable">
	<td class="content" onclick='load_paper("{{like.id}}")'>
	<ul>

	<li class="strong">{{like.title}}</li>
	<li>{{like.c_and_b}}</li>
	<li class="blue">
		{% for author in like.authors %}
			{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
		{% endfor %}
	</li>	
	<li class='gray'>
	{{like.keywords}}
	</li>
	</ul>
	</td>
	<td class="metadata">
		<div class="ui-state-default ui-corner-all ui-state-active" title="{{like.id}}">
		<span class="ui-icon ui-icon-star"></span>
		</div>
	</td>
	</tr>
{% endfor %}		
</table>
<br />
<span class="button" id="likes_show_toggle">Show All</span>
</div>
<br />
<br />
<h3 class="collapsible-title" id="recs_toggle"><span class="arrow">▾</span> Papers recommended for you.</h3>
<div id="recs_container">
	<table id="recs" class="paper-container">
		{% for rec in recs %}
			<tr class="clickable">
			<td class="content" onclick='load_paper("{{rec.id}}")'>	
			 <ul>
			 	<li class="strong">{{rec.title}}</li>
			 	<li>{{rec.c_and_b}}</li>
				<li class="blue">
				{% for author in rec.authors %}
					{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
				{% endfor %}
				</li>
				<li class='gray'>
				{{rec.keywords}}
				</li>
			</ul>
			</td>
			<td class="metadata">
				<div class="ui-state-default ui-corner-all" title="{{rec.id}}">
				<span class="ui-icon ui-icon-star"></span>
				</div>
			</td>
			</tr>				
		{% endfor %}		
	</table>
	<br />
	<span class="button" id="recs_show_toggle">Show More</span>
</div>
	<br />
	<br />
	<h3 class="collapsible-title" id="papers_toggle"><span class="arrow">▾</span> All Papers</h3>
	<div id="papers_container">
	<table id="papers" class="paper-container">
		{% for id, paper in papers.items %}
			<tr class="clickable">				
				<td class="content" onclick='load_paper("{{id}}")'>	
				 <ul>
				 	<li class="strong">{{paper.title}}</li>
				 	<li>{{paper.c_and_b}}</li>
					<li class="blue">
					{% for author in paper.authors %}
						{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
					{% endfor %}
					</li>
					<li class='gray'>
					{{paper.keywords}}
					</li>
				</ul>
				</td>
				<td class="metadata">
					{% if id in starred %}
						<div class="ui-state-default ui-corner-all ui-state-active" title="{{id}}">
					{% else %}
						<div class="ui-state-default ui-corner-all" title="{{id}}">
					{%endif%}
					<span class="ui-icon ui-icon-star"></span>
					</div>
				</td>			
			</tr>
		{% endfor %}		
	</table>
	</div>
</div>
{% endblock %}
