{% extends "base.html" %}
{% block headlink-right %}
Welcome,&nbsp;{{login}}! &nbsp; &nbsp;
<a class="button" href="/index">My CHI</a>
<a class="button" href="/schedule">Schedule</a>
<a class="button" href="/logout">Log out!</a>
{% endblock %}


{% block content %}
<script type="text/javascript">

	function load_paper (paper_id) {
		window.location.href = "/paper/" + paper_id;
	}

	

	$(document).ready(function(){

		

		var likes = $('#likes').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": true,
			"bFilter": false,
			"sWidth": "100%",
			"aLengthMenu": [[2, 5, 10, 20, -1], [2, 5, 10, 20, "All"]],
			"iDisplayLength": 2,
			"oLanguage": {
		      "sZeroRecords": "You haven't starred anything yet. Nothing to show."
		    },
			"aoColumns": [                 
				{},
				{}
			]
			
		});


		var recs = $('#recs').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": true,
			"bFilter": false,
			"sWidth": "100%",
			"aLengthMenu": [[2, 5, 10, 20, -1], [2, 5, 10, 20, "All"]],
			"iDisplayLength": 2,
			"oLanguage": {
		      "sZeroRecords": "Since you haven't starred any paper yet, we can't generate recommendations for you."
		    },
			"aoColumns": [                 
				{},
				{}
			]
			
		});


		var papers = $('#papers').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": true,
			"bFilter": true,
			"sWidth": "100%",
			"aLengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
			"iDisplayLength": -1,
			"oLanguage": {
		      "sZeroRecords": "Seems like something went wrong. No data to display."
		    },
			"aoColumns": [                 
				{},
				{}
			]
			
		});


		$("#likes_toggle").click(function(){
    		$("#likes").parent().toggle();
    		if($('#likes').is(':visible')){
					$("#likes_toggle").find('.arrow').html('▾');
			}else{
					$("#likes_toggle").find('.arrow').html('▸');
			}
  		});


  		$("#recs_toggle").click(function(){
    		$("#recs").parent().toggle();
    		if($('#recs').is(':visible')){
				$("#recs_toggle").find('.arrow').html('▾');
			}else{
				$("#recs_toggle").find('.arrow').html('▸');
			}
  		});


  		$("#papers_toggle").click(function(){
    		$("#papers").parent().toggle();
    		if($('#papers').is(':visible')){
					$("#papers_toggle").find('.arrow').html('▾');
			}else{
					$("#papers_toggle").find('.arrow').html('▸');
			}
  		});


  		$('.ui-state-default').hover(
			function(){ $(this).addClass('ui-state-hover'); }, 
			function(){ $(this).removeClass('ui-state-hover'); }
		);


		$('.ui-state-default').click(function(event){ 
			if($(this).hasClass('ui-state-active')){
				$.get('/like/' + $(this).attr('title') +'/unlike', function(res) {
				  if(res.status == 'ok'){
				  	$(this).toggleClass('ui-state-active');
				  	window.location='/'
				  }
				});
			}else{
				$.get('/like/' + $(this).attr('title') +'/like', function(res) {
				  if(res.status == 'ok'){
				  	$(this).toggleClass('ui-state-active');
				  	window.location='/'
				  }
				});

			}
		});


		function highlight_starred(){		   
	   		$( ".clickable" ).each(function(index) {
				if($(this).find('.ui-state-active').length > 0){
					$(this).addClass('starred');
				}
			});
		   
		}

		highlight_starred();


	});
</script>

<div id="content">
<h3 class="click-subtitle" id="likes_toggle"><span class="arrow">▾</span> Papers you liked.</h3>	
<table id="likes" class="paper-container">
{% for like in likes %}
	<tr class="clickable">
	<td class="content" onclick='load_paper("{{like.id}}")'>
	<ul>

	<li class="strong">{{like.title}}</li>
	<li>{{like.c_and_b}}</li>
	<li class="blue">
		{% for author in like.authors %}
			{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
		{% endfor %}
	</li>	
	<li class='gray'>
	{{like.keywords}}
	</li>
	</ul>
	</td>
	<td class="metadata">
		<div class="ui-state-default ui-corner-all ui-state-active" title="{{like.id}}">
		<span class="ui-icon ui-icon-star"></span>
		</div>
	</td>
	</tr>
{% endfor %}		
</table>

<br />
<br />
<h3 class="click-subtitle" id="recs_toggle"><span class="arrow">▾</span> Papers recommended for you.</h3>
	<table id="recs" class="paper-container">
		{% for rec in recs %}
			<tr class="clickable">
			<td class="content" onclick='load_paper("{{rec.id}}")'>	
			 <ul>
			 	<li class="strong">{{rec.title}}</li>
			 	<li>{{rec.c_and_b}}</li>
				<li class="blue">
				{% for author in rec.authors %}
					{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
				{% endfor %}
				</li>
				<li class='gray'>
				{{rec.keywords}}
				</li>
			</ul>
			</td>
			<td class="metadata">
				<div class="ui-state-default ui-corner-all" title="{{rec.id}}">
				<span class="ui-icon ui-icon-star"></span>
				</div>
			</td>
			</tr>				
		{% endfor %}		
	</table>
	<br />
	<br />
	<h3 class="click-subtitle" id="papers_toggle"><span class="arrow">▾</span> All Papers</h3>
	<table id="papers" class="paper-container">
		{% for id, paper in papers.items %}
			<tr class="clickable">				
				<td class="content" onclick='load_paper("{{id}}")'>	
				 <ul>
				 	<li class="strong">{{paper.title}}</li>
				 	<li>{{paper.c_and_b}}</li>
					<li class="blue">
					{% for author in paper.authors %}
						{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
					{% endfor %}
					</li>
					<li class='gray'>
					{{paper.keywords}}
					</li>
				</ul>
				</td>
				<td class="metadata">
					{% if id in starred %}
						<div class="ui-state-default ui-corner-all ui-state-active" title="{{id}}">
					{% else %}
						<div class="ui-state-default ui-corner-all" title="{{id}}">
					{%endif%}
					<span class="ui-icon ui-icon-star"></span>
					</div>
				</td>			
			</tr>
		{% endfor %}		
	</table>
</div>
{% endblock %}
