{% extends "base.html" %}
{% block headlink-right %}
{% endblock %}
{% block content %}



<script type="text/javascript">

$(document).ready(function(){

	$(".default-text").focus(function()
	{
	    if ($(this).val() == $(this)[0].title)
	    {
	        $(this).removeClass("default-text-active");
	        $(this).val("");
	    }
	});
    
	$(".default-text").blur(function()
	{
	    if ($(this).val() == "")
	    {
	        $(this).addClass("default-text-active");
	        $(this).val($(this)[0].title);
	    }
	});

	$(".default-text").blur();

});	
	
</script>



<form method="POST" action="login">
	{% csrf_token %}
	<h3>Please enter your PCS email address</h3>
	<hr />
	<label for="login_email">Email Address</label><br />
	{{error}}
	<input type="text" name="login_email" class="default-text" id="login_email" title="enter your pcs email address"/><br /><br />
	<input type="submit" value="Log In" />
</form>
{% endblock %}
