<!DOCTYPE html> 
<html> 
<head> 
	<title>CHI 2013 Recommendation System</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/mobile.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<script type="text/javascript">
    var prefs = {{prefs|safe }};
    var entities = {{entities|safe }};
    var sessions = {{sessions|safe }};
    var recommended = {{recs|safe }};
    var login_id = '{{login_id|safe}}'

    Object.size = function(obj) {
    var size = 0, key;
        for (key in obj) {
            if (obj.hasOwnProperty(key)) size++;
        }
        return size;
    };

    function get_paper_html(id){
        if(entities[id] == null)
            return null
        
        var raw_html = '<li><h3 class="blue"><a href="#" onclick = "load_paper(\''+ id + '\');">'+entities[id].title+'</a></h3>'
        raw_html += '<p>'+entities[id].c_and_b + '</p>'
        raw_html += '<p><strong>'
        for(author in entities[id].authors){
            if(entities[id].authors[author] != null){
                raw_html += entities[id].authors[author].givenName + ' ' + entities[id].authors[author].familyName + '&nbsp;&nbsp;&nbsp;&nbsp;'
            }
        }
        raw_html += '</strong></p>'
        raw_html += '<p class="gray">' + entities[id].keywords + '</p>'
        raw_html += '<div data-role="controlgroup" data-type="horizontal" data-mini="true">'
        raw_html += '<a href="#" data-role="button" onclick = "load_paper(\''+ id + '\');">Discover</a>'
        if(prefs[login_id] == null || prefs[login_id].likes == null || prefs[login_id].likes.indexOf(id) == -1){
            raw_html += '<a href="#" data-role="button">Star</a>'
        }else{
            raw_html += '<a href="#" data-role="button">Unstar</a>'
        }
        raw_html += '</div>'       
        raw_html += '</li>' 
        return raw_html
    }


    function get_session_html(id){
        var raw_html = '<li data-role="list-divider"  data-theme="d" class="all '+ sessions[id].date + ' t' + sessions[id].time.substr(0,2) + ' ' + sessions[id].venue + ' ' + sessions[id].personas.substr(0,2) + '" id="' + id + '">'
        raw_html += '<h4>'+sessions[id].s_title+'</h4>'
        raw_html += '<p><strong>Room: ' + sessions[id].room + ', Venue: ' + sessions[id].venue + '</strong></p>'
            raw_html += '<div class="timeline">'
        var size = Object.size(sessions[id].submissions)
        var w = (100 - (4*size))/size
        for(var i=0; i< size; i++){
            raw_html += '<div style="width:' + w + '%;margin-right:4px;"></div>'
        }
        raw_html += '</div>'
        raw_html += '</li>'
        
        for(var paper_id in sessions[id].submissions){
            raw_html += get_paper_html(paper_id);
        }
        raw_html += '</div>'        
        return raw_html
    }


    function place_session(s){
        if(s.hasClass('Monday')){
            if(s.hasClass('t09')){
                $("#Mondayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Mondayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Mondayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Mondayt16").append(s)
            }

        }else if(s.hasClass('Tuesday')){
            if(s.hasClass('t09')){
                $("#Tuesdayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Tuesdayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Tuesdayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Tuesdayt16").append(s)
            }

        }else if(s.hasClass('Wednesday')){
            if(s.hasClass('t09')){
                $("#Wednesdayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Wednesdayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Wednesdayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Wednesdayt16").append(s)
            }

        }else if(s.hasClass('Thursday')){
            if(s.hasClass('t09')){
                $("#Thursdayt09").append(s)
            }else if(s.hasClass('t11')){
                $("#Thursdayt11").append(s)
            }else if(s.hasClass('t14')){
                $("#Thursdayt14").append(s)
            }else if(s.hasClass('t16')){
                $("#Thursdayt16").append(s)
            }

        }
        
    }



    function get_selected_paper_html(id){
        if(entities[id] == null)
            return ''

        var raw_html = '<h2>' + entities[id].title + '</h2>'
        raw_html += '<p><dtrong>'
        for(var author in entities[id].authors){
            if(entities[id].authors[author] != null){
                raw_html += entities[id].authors[author].givenName + ' ' + entities[id].authors[author].familyName + '&nbsp;&nbsp;&nbsp;&nbsp;'
            }
        }
        raw_html += '</p>'
        raw_html += '<hr />'
        raw_html += '<p>' + entities[id].abstract + '</p>'
        raw_html += '<p class="gray">' + entities[id].keywords + '</p>'
        return raw_html
}


    
    function load_paper(paper_id){
        var selected_paper_html = get_selected_paper_html(paper_id)
        $('#selected_paper').html(selected_paper_html)
        $("#similar_papers").html('')
        $.post('recs', {'papers': JSON.stringify([paper_id])}, 
        function(res){              
            for(var i = 0; i< res.length; i++){
                var p_id = res[i].id
                var raw_html = get_paper_html(res[i].id)
                if(raw_html!=null){
                    var row = $(raw_html)
                    $("#similar_papers").append(row);
                    
                }
            }
            $.mobile.changePage('#paper', 'pop', true, true);
            $("#similar_papers").trigger('create');
            $("#similar_papers").listview('refresh')
        });

    }


    
    
    $(document).bind("mobileinit", function(){
       $.mobile.defaultTransition = 'none'
       {% if login %}
            $.mobile.changePage('#login', 'pop', true, true);
       {% endif %}
    });

    


    $(document).bind('pagecreate', function (e) {
        
        function populate_papers(){ 
            $("#papers").html('')           
            for(e in entities){
                var raw_html = get_paper_html(e)
                if(raw_html != null){
                    var row = $(raw_html)
                    $("#papers").append(row)
                }
            }   
        }


        function populate_recs(){ 
            $("#recs").html('')           
            for(r in recommended){
                var raw_html = get_paper_html(recommended[r].id)
                if(raw_html != null){
                    var row = $(raw_html)
                    $("#recs").append(row)
                }
            }   
        }



        function populate_likes(){
            if(prefs[login_id] == null || prefs[login_id].likes == null)
                return
            $("#likes").html('')           
            for(p in prefs[login_id].likes){
                var raw_html = get_paper_html(prefs[login_id].likes[p])
                if(raw_html != null){
                    var row = $(raw_html)
                    $("#likes").append(row)
                }
            }   
        }
        

        function populate_sessions(){
            $(".sessions").html('')   
            for(s in sessions){
                var raw_html = get_session_html(s)
                var row = $(raw_html)
                place_session(row)
            }
        }


        $('.list-divider').click(function(){
            $(this).parent().find(':not(:first)').toggle()
        })

      
        if(e.target.id == 'home') {
            console.log('home')
            
            populate_likes()
            $("#likes").trigger('create');
            $("#likes").listview('refresh')
            populate_recs()
            $("#recs").trigger('create');
            $("#recs").listview('refresh')
            populate_papers()
            $("#papers").trigger('create');
            $("#papers").listview('refresh')
            
        }else if(e.target.id == 'schedule') {
            console.log('schedule')
            populate_sessions()
            $(".session").trigger('create');
            $(".session").listview('refresh')
        
        }else if(e.target.id == 'paper'){
            console.log('paper')
            
        }

        //$.mobile.pageLoading(true);
            
    });
</script>



<div data-role="page" class="ui-responsive-panel" id="home">

    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home" class="ui-btn-active ui-state-persist">My CHI</a></li>
                <li><a href="#schedule" data-icon="info">Program Schedule</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content"> 

    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>Starred Papers</h4>       
    <ul id="likes" data-role="listview"> 
    </ul>
    </div>


    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>Recommended Papers</h4>       
    <ul id="recs" data-role="listview"> 
    </ul>
    </div>



    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>All Papers</h4>       
    <ul id="papers" data-role="listview"  data-filter="true" data-filter-placeholder="Search for authors or other keywords"       
    </ul>
    </div>    

    </div><!-- /content -->

</div><!-- /home -->



<div data-role="page" class="ui-responsive-panel" id="schedule">

    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home">My CHI</a></li>
                <li><a href="#schedule" data-icon="info" class="ui-btn-active ui-state-persist">Program Schedule</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content"> 
    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>Sessions which have starred papers</h4>
    <ul id="sessions_starred" data-role="listview" class="session"> 
    </ul>
    </div>


    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>Sessions which have recommended papers</h4>
    <ul id="sessions_recommended" data-role="listview" class="session"> 
    </ul>
    </div>



    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>All Sessions</h4>    
    <!--
    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 09:00-10:20</h4>
    <ul id="Mondayt09" data-role="listview" class="session"> 
    </ul>
    </div>
    -->

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 11:00-12:20</h4>
    <ul id="Mondayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 14:00-15:20</h4>
    <ul id="Mondayt14" data-role="listview" class="session"> 
    </ul>
    </div>


    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Monday, 16:00-17:20</h4>
    <ul id="Mondayt16" data-role="listview" class="session"> 
    </ul>
    </div>







    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 09:00-10:20</h4>
    <ul id="Tuesdayt09" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 11:00-12:20</h4>
    <ul id="Tuesdayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 14:00-15:20</h4>
    <ul id="Tuesdayt14" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Tuesday, 16:00-17:20</h4>
    <ul id="Tuesdayt16" data-role="listview" class="session"> 
    </ul>
    </div>






    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 09:00-10:20</h4>
    <ul id="Wednesdayt09" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 11:00-12:20</h4>
    <ul id="Wednesdayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 14:00-15:20</h4>
    <ul id="Wednesdayt14" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Wednesday, 16:00-17:20</h4>
    <ul id="Wednesdayt16" data-role="listview" class="session"> 
    </ul>
    </div>






    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 09:00-10:20</h4>
    <ul id="Thursdayt09" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 11:00-12:20</h4>
    <ul id="Thursdayt11" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 14:00-15:20</h4>
    <ul id="Thursdayt14" data-role="listview" class="session"> 
    </ul>
    </div>

    <div data-role="collapsible" data-collapsed="false" data-theme="a" data-mini="true" data-content-theme="d" data-inset="false">
    <h4>Thursday, 16:00-17:20</h4>
    <ul id="Thursdayt16" data-role="listview" class="session"> 
    </ul>
    </div>
    
    </div> <!-- all sessions -->   

    </div><!-- /content -->

</div><!-- /home -->



<div data-role="dialog" class="ui-responsive-panel" id="paper">  
    <div data-role="header" data-position="fixed">
        <h1>Discover Related Papers</h1>
    </div>
    
    <div data-role="content"> 
    <div id="selected_paper">
    </div>      
    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>Papers similar to this paper</h4>       
    <ul id="similar_papers" data-role="listview"> 
    </ul>
    </div>
        

    </div><!-- /content -->

</div><!-- /paper -->


</body>
</html>
