<!DOCTYPE html> 
<html> 
<head> 
	<title>CHI 2013 Recommendation System</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/mobile.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<script type="text/javascript">

    console.log("Page")
    var prefs = {{prefs|safe }};
    var entities = {{entities|safe }};
    var sessions = {{sessions|safe }};
    var recommended = {{recs|safe }};
    var login_id = '{{login_id|safe}}'

    function get_paper_html(id){
        if(entities[id] == null)
            return null
        
        var raw_html = '<li><h3 class="blue">'+entities[id].title+'</h3>'
        raw_html += '<p>'+entities[id].c_and_b + '</p>'
        raw_html += '<p><strong>'
        for(author in entities[id].authors){
            if(entities[id].authors[author] != null){
                raw_html += entities[id].authors[author].givenName + ' ' + entities[id].authors[author].familyName + '&nbsp;&nbsp;&nbsp;&nbsp;'
            }
        }
        raw_html += '</strong></p>'
        raw_html += '<p class="gray">' + entities[id].keywords + '</p>'
        raw_html += '</li>'            

        return raw_html
    }

    
    
    

    


    $(document).bind('pagecreate', function (e) {
        
        function populate_papers(){ 
            $("#papers").html('')           
            for(e in entities){
                var raw_html = get_paper_html(e)
                if(raw_html != null){
                    var row = $(raw_html)
                    $("#papers").append(row)
                }
            }   
        }


        function populate_recs(){ 
            $("#recs").html('')           
            for(r in recommended){
                var raw_html = get_paper_html(recommended[r].id)
                if(raw_html != null){
                    var row = $(raw_html)
                    $("#recs").append(row)
                }
            }   
        }



        function populate_likes(){ 
            $("#likes").html('')           
            for(p in prefs[login_id].likes){
                var raw_html = get_paper_html(prefs[login_id].likes[p])
                if(raw_html != null){
                    var row = $(raw_html)
                    $("#likes").append(row)
                }
            }   
        }
        
        if (e.target.id == 'home') {
            console.log('home')
            populate_likes()
            $("#likes").listview('refresh')
            populate_recs()
            $("#recs").listview('refresh')
            populate_papers()
            $("#papers").listview('refresh')
        }

       
            
    });
</script>

<div data-role="page" class="ui-responsive-panel" id="home">

    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home" class="ui-btn-active">My CHI</a></li>
                <li><a href="#schedule" data-icon="info">Program Schedule</a></li>
                <li><a href="#more" data-icon="grid">More</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content"> 

    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>Starred Papers</h4>       
    <ul id="likes" data-role="listview" data-content-theme="e"> 
    </ul>
    </div>


    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>Recommended Papers</h4>       
    <ul id="recs" data-role="listview"> 
    </ul>
    </div>



    <div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d" data-inset="false">
    <h4>All Papers</h4>       
    <ul id="papers" data-role="listview" data-filter="true" data-filter-placeholder="Search for authors or other keywords"       
    </ul>
    </div>    

    </div><!-- /content -->

</div><!-- /home -->



<div data-role="page" class="ui-responsive-panel" id="schedule">

    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home">My CHI</a></li>
                <li><a href="#schedule" data-icon="info">Program Schedule</a></li>
                <li><a href="#more" data-icon="grid">More</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content">        

        

    </div><!-- /content -->

</div><!-- /home -->


<div data-role="page" class="ui-responsive-panel" id="more">

    <div data-role="header" data-position="fixed">
    <div data-role="navbar">
            <ul>
                <li><a href="#home" data-icon="home">My CHI</a></li>
                <li><a href="#schedule" data-icon="info">Program Schedule</a></li>
                <li><a href="#more" data-icon="grid">More</a></li>
            </ul>
    </div><!-- /navbar -->
    </div><!-- /header -->

    <div data-role="content">        

        

    </div><!-- /content -->

</div><!-- /home -->




</body>
</html>
