{% extends "base.html" %}
{% block headlink-right %}
Welcome,&nbsp;{{login}}! &nbsp; &nbsp;
<a class="button" href="/index">My CHI</a>
<a class="button" href="/schedule">My Schedule</a>
<a class="button" href="/logout">Log out!</a>
{% endblock %}
{% block content %}
<script type="text/javascript">

	function load_paper (paper_id) {
		window.location.href = "/paper/" + paper_id;
	}

	

	$(document).ready(function(){	



		var recs = $('#recs').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": false,
			"bFilter": true,
			"bInfo": false,
			"sWidth": "100%",
			"oLanguage": {
		      "sZeroRecords": "Not enough data to generate recommendations for this paper."
		    },
			"aoColumns": [                 
				{},
				{}
			]
			
		});

		$("#recs_toggle").click(function(){
    		$("#recs_container").toggle();
    		if($('#recs_container').is(':visible')){
				$("#recs_toggle").find('.arrow').html('▾');
			}else{
				$("#recs_toggle").find('.arrow').html('▸');
			}
  		});

  		$('.ui-state-default').hover(
			function(){ $(this).addClass('ui-state-hover'); }, 
			function(){ $(this).removeClass('ui-state-hover'); }
		);
		
		$('.ui-state-default').click(function(event){ 
			var t =$(this)
			if(t.hasClass('ui-state-active')){
				$.get('/like/' + t.attr('title') +'/unlike', function(res) {
				  if(res.status == 'ok'){
				  	t.toggleClass('ui-state-active');
				  	t.parent().parent().toggleClass('starred');
				  }
				});
			}else{
				$.get('/like/' + t.attr('title') +'/like', function(res) {
				  if(res.status == 'ok'){
				  	t.toggleClass('ui-state-active');
				  	t.parent().parent().toggleClass('starred');
				  }
				});

			}
		});

		function highlight_starred(){		   
	   		$( ".clickable" ).each(function(index) {
				if($(this).find('.ui-state-active').length > 0){
					$(this).addClass('starred');
				}
			});
		   
		}


		highlight_starred();




	});
</script>
<div id="content">
	<h3><span class="gray">Selected Paper</span></h3>
	<div class="form" style="margin-top:10px; cursor:pointer;">
	<span class="strong">{{paper.title}}</span>{% if id in starred %}
		 <span class="gray"> [You have starred this paper.]</span>
		{%endif%}<br />
	<span class="blue">
		{% for author in paper.authors %}
			{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
		{% endfor %}
	</span>
	<hr />
	<ul>			 	
	 	<li>{{paper.abstract}}</li>		
		<li class='gray'>
		{{paper.keywords}}
		</li>
	</ul>
	</div>
	<br />
	<h3 class="collapsible-subtitle" id="recs_toggle"><span class="arrow">▾</span> People who liked this paper also liked the following papers.</h3>
	<div id="recs_container">
	<table id="recs">		
		{% for rec in recs %}
			<tr class="clickable">
			<td class="content" onclick='load_paper("{{rec.id}}")'>	
			 <ul>
			 	<li class="strong">{{rec.title}}</li>
			 	<li>{{rec.c_and_b}}</li>
				<li class="blue">
				{% for author in rec.authors %}
					{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
				{% endfor %}
				</li>
				<li class='gray'>
				{{rec.keywords}}
				</li>
			</ul>
			</td>
			<td class="metadata">
				{% if rec.id in starred %}
					<div class="ui-state-default ui-corner-all ui-state-active" title="{{rec.id}}">
				{% else %}
					<div class="ui-state-default ui-corner-all" title="{{rec.id}}">
				{%endif%}
				<span class="ui-icon ui-icon-star"></span>
				</div>
			</td>

			</tr>	
		{% endfor %}
	</table>
	</div>
		
</div>
{% endblock %}
