{% extends "base.html" %}
{% block headlink-right %}
<a href="#" data-dropdown="#dropdown-nav">{{ u}} ▾ </a>
{% endblock %}
{% block content %}
<script type="text/javascript">

	function load_paper (paper_id) {
		window.location.href = "/paper/" + paper_id;
	}

	

	$(document).ready(function(){	

		var papers = $('#papers').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": false,
			"bFilter": true,
			"sWidth": "100%",
			"aoColumns": [                 
				{"sWidth": "100%"}
			]
			
		});

	});
</script>
<div id="content">
<h3><span class="gray">People who liked {{p_id}} also liked</span></h3>
	<br />
	<table id="papers">
		<thead>
		<tr>
			<th>Paper Title</th>
		</tr>
		</thead>
		<tbody>
			{% for d in data %}
				<tr onclick='load_paper("{{d.id}}")'>
				<td class="strong">{{d.id}}</td>
				</tr>
			{% endfor %}		
		</tbody>
	</table>
</div>
{% endblock %}
