{% extends "base.html" %}
{% block headlink-right %}
Welcome,&nbsp;{{login}}! &nbsp; &nbsp;
<a class="button" href="/index">Home</a>
<a class="button" href="/users">Authors List</a>
<a class="button" href="/schedule">Schedule</a>
<a class="button" href="/logout">Log out!</a>
{% endblock %}
{% block content %}
<script type="text/javascript">

	function load_paper (paper_id) {
		window.location.href = "/paper/" + paper_id;
	}

	

	$(document).ready(function(){	

		var papers = $('#papers').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": false,
			"bFilter": true,
			"sWidth": "100%",
			"aaSorting": [],
			"aoColumns": [                 
				{"sWidth": "100%"}
			]
			
		});



	});
</script>
<div id="content">
	<h3><span class="gray">Selected Paper</span></h3>
	<div class="form" style="margin-top:10px; cursor:pointer;">
	<span class="strong">{{paper.title}}</span><br />
	<span class="blue">
		{% for author in paper.authors %}
			{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
		{% endfor %}
	</span>
	<hr />
	<ul>			 	
	 	<li>{{paper.abstract}}</li>		
		<li class='gray'>
		{{paper.keywords}}
		</li>
	</ul>
	</div>
	<br />
	<h3><span class="gray">Papers similar to this paper</span></h3>
	<br />
	<table id="papers">
		<thead>
		<tr>
			<th>People who liked this paper also liked the following papers</th>
		</tr>
		</thead>
		<tbody>
			{% for rec in recs %}
				<tr onclick='load_paper("{{rec.id}}")'>
				<td>
				 <ul>
				 	<li class="strong">{{rec.title}}</li>
				 	<li>{{rec.c_and_b}}</li>
					<li class="blue">
					{% for author in rec.authors %}
						{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
					{% endfor %}
					</li>
					<li class='gray'>
					{{rec.keywords}}
					</li>
				</ul>
				</td>
				</tr>
			{% endfor %}		
		</tbody>
	</table>
</div>
{% endblock %}
