{% extends "base.html" %}
{% block headlink-right %}
Welcome,&nbsp;{{login}}! &nbsp; &nbsp;
<a class="button" href="/index">My CHI</a>
<a class="button" href="/users">Find People</a>
<a class="button" href="/schedule">Schedule</a>
<a class="button" href="/logout">Log out!</a>
{% endblock %}
{% block content %}
<script type="text/javascript">

	function load_user (author_id) {
		window.location.href = "/user/" + author_id;
	}

	

	$(document).ready(function(){	

		var authors = $('#authors').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": false,
			"bFilter": true,
			"sWidth": "100%",
			"aoColumns": [                 
				{"sWidth": "100%"}
			]
			
		});

	});
</script>
<div id="content">
	<h3><span class="gray">See what other people are doing.</span></h3>
	<br />
	<table id="authors">
		<thead>
		<tr>
			<th>Name</th>
		</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr onclick='load_user("{{user.id}}")'>
				<td class="strong">{{user.name}}</td>
				</tr>
			{% endfor %}		
		</tbody>
	</table>
</div>
{% endblock %}
