{% extends "base.html" %}
{% block headlink-right %}
Welcome,&nbsp;{{login}}! &nbsp; &nbsp;
<a class="button" href="/index">Home</a>
<a class="button" href="/users">Authors List</a>
<a class="button" href="/schedule">Schedule</a>
<a class="button" href="/logout">Log out!</a>
{% endblock %}


{% block content %}
<script type="text/javascript">

	function load_paper (paper_id) {
		window.location.href = "/paper/" + paper_id;
	}

	

	$(document).ready(function(){	

		var recs = $('#recs').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": false,
			"bFilter": true,
			"sWidth": "100%",
			"aaSorting": [],
			"aoColumns": [                 
				{"sWidth": "100%"}
			]
			
		});

		$(".likes").click(function(){
    		$("#likes").toggle();
    		$('.likes').toggle();
  		});


  		$(".recs").click(function(){
    		$("#recs_container").toggle();
    		$('.recs').toggle();
  		});

	});
</script>
<div id="content">
<h3><span class="gray">Papers {{user}} Liked</span> <a class="likes button" href="#" style="font-size:small; display:none;">SHOW</a> <a class="likes button" href="#" style="font-size:small;">HIDE</a></h3>
	
<div id="likes" class="form" style="margin-top:10px;cursor:pointer; padding:0px;">
{% for like in likes %}
	<ul style="border-bottom:1px solid #ccc; padding:10px;" onclick='load_paper("{{like.id}}")'>

	<li class="strong">{{like.title}}</li>
	<li>{{like.c_and_b}}</li>
	<li class="blue">
		{% for author in like.authors %}
			{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
		{% endfor %}
	</li>	
	<li class='gray'>
	{{like.keywords}}
	</li>
	</ul>
{% endfor %}		
</div>
	

<br />
<br />
<h3><span class="gray">Papers Recommended for {{user}}</span> <a class="recs button" href="#" style="font-size:small; display:none;">SHOW</a> <a class="recs button" href="#" style="font-size:small;">HIDE</a></h3>
	<br />
	<div id="recs_container">
	<table id="recs">
		<thead>
		<tr>
			<th>Recommended Papers</th>
		</tr>
		</thead>
		<tbody>
			{% for rec in recs %}
				<tr onclick='load_paper("{{rec.id}}")'>
				<td>
				 <ul>
				 	<li class="strong">{{rec.title}}</li>
				 	<li>{{rec.c_and_b}}</li>
					<li class="blue">
					{% for author in rec.authors %}
						{{author.givenName}} {{author.familyName}}&nbsp;&nbsp;&nbsp;&nbsp;
					{% endfor %}
					</li>
					<li class='gray'>
					{{rec.keywords}}
					</li>
				</ul>
				</td>
				</tr>
			{% endfor %}	
		</tbody>
	</table>
	</div>
</div>
{% endblock %}
