/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/


html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}


ol, ul, li {
	list-style: none;
}

hr{
	background-color: #2B2B2B;
	border: thin #2B2B2B solid;
}

a:link, a:visited {
  color: #000;
  text-decoration:none; 
}

#filter_schedule td{
  line-height: 2.1em;
  padding-bottom: 0.4em;
  font-size: 0.9em;
}

a.filter{
	color: #2B2B2B !important;
  background-color: #F6F6F6;
  border-radius: 5px;
  border: 1px solid #2B2B2B;
  text-decoration:none;
  margin-left: 0.7em;
  margin-right: 0.7em;
  padding: 0.2em 0.3em;
}

a.filter.active{
  background-color: #E9E581;
}

a.filter:hover{
  background-color: #E9E581;
}

a:active, a:hover, .session-title:hover {
  color: #447EAC;
  text-decoration:none; 
}

form{
	margin:0 auto;
	margin-top:2em; 
	padding:2em; 
	vertical-align:top;
	background-color: #D7ECFA;
	max-width:310px;
	width: 100%;
	box-shadow: 1px 0px 10px #666;
}

.form{
	margin:0 auto;
	margin-top:2em; 
	padding:2em; 
	vertical-align:top;
	background-color: #f0f4f9;
	width:border-box;
}

form label{
	font-weight:bold; 
	color:#666;
}

form input[type="text"], input[type="password"]{
  width: 95%;
}


input[type="text"], input[type="password"], select{
	padding:0.5em;
	border: #2B2B2B solid thin;
	margin: 0.5em 0;
  font-size: 1em;
}

button, input[type="button"], input[type="submit"]{
  font-size: 1em;
  /*
	background-color: #2B2B2B;
	color: #FFF;
	border: #2B2B2B solid thin;
	padding:0.4em 0.7em;
	margin-left: 0;
  */
}

.button{
	background-color: #F6F6F6; /* #00A8CD #00B4ED #85A5CC #69a74e;*/
	/*background: -webkit-linear-gradient(top, #67ae55, #578843);*/
	/*-webkit-box-shadow: inset 0 1px 1px #a4e388;*/
	/*border-color: #3b6e22 #3b6e22 #2c5115;*/
	padding:0.4em 0.7em;
  border-radius: 5px;
  border: 1px solid #2B2B2B;
	text-decoration: none;
	color: #2B2B2B;
	cursor: pointer;
}

.button:hover{
  color: #2B2B2B;
  background-color: #E9E581; /*#00C8ED;*/
}



textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	max-width: 100%;
	height:3.5em;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, sans-serif;
	font-size:14px;
	height: 100%;
	overflow: auto;
}



#header {
	margin:0 auto;
	position: fixed;
	top:0;
	height: 3em;
	font-size:1.1em;
	background: #2B2B2B; /*3D7AA6;*/
	margin-bottom: 0.1em;
	color: white;
	border-bottom: 1px solid #2B2B2B;
	width: 100%;
	z-index: 100;
  padding-left:1.5em;
}

#wrap{
	position: relative;
	margin:0 auto;
	padding: 0;
	width: 100%;
	max-width: 1024px;
	min-width: 600px;
}

#headlink-right{
	position:absolute;
	top: 0.7em;
	right: 0.7em;
	color: #F6F6F6;
  margin-right: 1.5em;
}

#headlink-left{
	position:absolute;
	top: 0.7em;
	left:0;
	color: #F6F6F6;
}

#headlink-left a{
  text-decoration: none;
  color: #F6F6F6
}
#headlink-right a{
	text-decoration: none;
	color: #2B2B2B;
}

#headlink-right a.active{
  background-color: #E9E581; /*#00C8ED;*/
}

#page{
	position: relative;
	margin:0 auto;
	top: 3em;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 1024px;
	min-width: 600px;
	background-color: #fff;
}



#home, #schedule{
	position: relative;
}


#content{
	margin-top: 1.5em;
	margin-bottom: 3.5em;
	padding: 1.5em;
	background-color: #FFF;
}





.paper-keywords{
  color: #737373;
}

.arrow {
  display:inline-block !important;
  width: 1.2em;
  height: 1.2em;
  background-repeat: no-repeat;
}

.arrow-right {
  background-image:url(/static/img/right.png);
}

.arrow-down {
  background-image:url(/static/img/down.png);
}

.session-title{
  /*font-size: 1.1em;*/
  margin-left: 0.3em;
}
.session-info{
	color: #737373;
  margin: 0.4em 0 0.7em 0.7em;
}
.session-venue{
  display:inline-block;
  width: 7em;
  margin-left: 1em;
}
.session-room{
  
}

.paper-title{
}

.paper-authors{
  margin: 0.4em 0 0 0;
}

.paper-cb{
  font-size: 0.9em;
  margin: 0.4em 0 0 0;  
}

.paper-keywords{
  font-size: 0.9em;
  margin: 0.4em 0 0 0;
}


.gray {
  color: #737373;
}

.blue{
	color: #447EAC;
}

.strong{
	font-weight: bold;
}

.link{
	text-decoration: none;
}




.default-text {
}

.default-text-active { 
	color: #a1a1a1; 
	font-style: italic;
}


.default-search-text {
	width:60%;
}

.default-search-text-active { 
	color: #a1a1a1; 
	font-style: italic;
}

.tab{
	display: none;
}


table.dataTable{
	width:100%;
	border-spacing:0;
	border: none;
}

table.dataTable thead tr th {
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	padding: 0.7em 1em;
	background: #D7ECFA;
	border-bottom: #ccc solid 1px;
	text-align:left;
	display: none;
}



table.dataTable tbody tr td {
	vertical-align: top;
	padding: 0.7em;
	border-bottom: #ccc solid 1px; 
}


	
.dataTables_scroll {
	border: #ccc solid 1px;
}
	
.dataTables_filter {
	background: #f6f6f6;
	padding: 0.7em;
	font-weight: bold;
}



.dataTables_wrapper{
	bottom:0; 
	overflow:auto; 
	border-top: none;
}

.dataTables_wrapper .top{
	/*display: none;*/
}

.dataTables_paginate{
	display: none;
}



.dataTables_wrapper .bottom {
	background: #f6f6f6;
	padding: 0.7em;
	border: #ccc solid 1px;
	color: #999;
	display: none;
	}




.col1{
	width:70%;
}

.col2{
	width:25%;
	float:right;
	position: absolute;
	top:1.5em;
	right: 0;
}


.content{
	padding:0.7em;
	padding-bottom: 1em;
}

.metadata{
  /*padding: 0 5px 0 5px !important;*/
	width: 4.5em;
	vertical-align: middle !important;

}



.collapsible-subtitle{
	background: #f0f4f9;
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 0.7em;
	border-bottom: none;

}



.collapsible-title{
	background:#2B2B2B;
  font-weight:normal;
	/*background:#3D7AA6;*/
	cursor: pointer;
	border: 1px solid #ccc;
	color: #F6F6F6;
	padding: 0.7em;
}





.ui-state-default, .ui-state-active{
	margin:0 auto;
	max-width: 1.5em;
	max-height: 1.5em;
	padding: 0.5em;
}

.ui-state-default{ 
	border: 1px solid #d3d3d3 !important; 
	background: #e6e6e6 repeat-x !important; 
	font-weight: normal !important; 
	color: #555555 !important; 
	cursor: pointer !important;
}



.ui-state-hover{ 
	border: 1px solid #999999 !important;
}






.ui-state-active{
	border: 1px solid #d19405 !important;
	background: #fece2f !important;
	font-weight: bold;
	color: #4c3000 !important;
}




.star-open{
  height: 2.1em;
  width: 2.1em;
  margin-left: 1em;
  background-image:url(/static/img/star_open.png);
  background-size: 2.1em 2.1em;
  background-repeat:no-repeat;
  cursor: pointer;
}

.star-filled{
  height: 2.1em;
  width: 2.1em;
  margin-left: 1em;
  background-image:url(/static/img/star_yellow.png);
  background-size: 2.1em 2.1em;
  background-repeat:no-repeat;
  cursor: pointer;
}

.star:hover{
  background-image:url(/static/img/star_yellow.png);
}


.ui-icon-star{
	margin:0 auto;
}


.search{
	width:70%;
	height: 2em;
	margin: 0 auto !important;
	margin-bottom: 1em !important;
	display: block;
	padding: 0.4em;
}




.paper-container{
	width:100%;
	border-spacing: 0;
	border-bottom:1px solid #ccc;
	background-color: #fff;
	padding:0;
	margin:0;
}

.paper-container td {
	border-spacing: 0;
	border-bottom:1px solid #ccc;
}

.session-container{
	width:100%;
	border-spacing: 0;
	border-bottom:1px solid #ccc;
	padding:0;
	margin:0;
}


.recommended{
	/*background-color: #f0f4f9 !important;*/
}

.rec-icon, .award-icon, .hm-icon, .community-icon{
  display:none;
}

.paper-icons, .session-icons {
  margin-top: 0.3em;
  height: 2em;
}

.recommended .rec-icon{
  display:inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  margin-right: 0.7em;
  background-color: #00A8CD;
  color: #fff;
  padding: 0.2em 0.5em;
  height: 1.5em;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
}

.session.s_award .session-icons .award-icon, .paper.p_award .paper-icons .award-icon{
  display:inline-block;
  margin-right: 0.7em;
  background-image:url(/static/img/best-paper.png);
  background-repeat: no-repeat;
  background-size: 1.8em 1.8em;
  width: 1.8em;
  height: 1.8em;
}

.session.s_hm .session-icons .hm-icon, .paper.p_hm .paper-icons .hm-icon{
  display:inline-block;
  margin-right: 0.7em;
  background-image:url(/static/img/nominee.png);
  background-repeat: no-repeat;
  background-size: 1.8em 1.8em;
  width: 1.8em;
  height: 1.8em;
}

.session-container .clickable{
	cursor: pointer;
	
}

.odd {
  /*background-color: #f5f5f5;*/
}

.clickable:hover {
  background-color: #f5f5f5;
}

.highlight{
	/*background-color: #fff7ce !important;*/
}


/*
.clickable:hover{
	background-color: #f0f4f9
}

*/


.clickable{	
	/*background-color: #fff;*/
}






.default-text {
}

.default-text-active { 
	color: #a1a1a1; 
	font-style: italic;
}

div.timeline {
	margin: 0.25em 0em;
	padding: 0em;
	width: 100%;
	height: 0.7em;
	clear: right;
	overflow: hidden;
}



div.timeline div {
	float: left;
	border: 1px solid #FFF;
	background-color: #DDD;
	border-radius: 10px;
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}

div.timeline div.filled_blue {
	background-color: #00A8CD;
}

div.timeline div.filled_yellow {
	background-color: #ffaa00 !important;
}




